<h2>Password Reset Request</h2>

<p>We have received your request to reset the password for your account.</p>

<p>You can reset your password by clicking the link below:</p>

<p>
<a href="<%= @reset_url %>"><%= @reset_url %></a>
</p>

<p>If you did not request this, please ignore the email.</p>